header {
  height: 100vh;
  display: flex;
  place-content: center;
  .container {
    display: none;
  }
  @media only screen and (min-width: 1025px) {
    .container {
      width: 75vw;
      aspect-ratio: 3/2;
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        "nav nav nav nav about about"
        "uiux uiux uiux uiux about about"
        "uiux uiux uiux uiux about about"
        "catquiz catquiz riveCat riveCat riveCat blank"
        "catquiz catquiz riveCat riveCat riveCat blank"
        "catquiz catquiz riveCat riveCat riveCat emoji"
        "catquiz catquiz programing programing programing programing"
        "catquiz catquiz programing programing programing programing";
      box-shadow: 8px 8px 14px 0px rgba(198, 198, 198, 1);
      margin: auto;
      padding: 0.6rem;
      border: solid #222 5px;
      border-radius: 25px;
      background-color: $bg-color;
      will-change: transform;
      animation: infinite floating linear 15s;
      & > div {
        margin: 0.6rem;
        border: solid $black 3.5px;
        border-radius: 18px;
        &:not(.nav, .riveCat, .circle) {
          cursor: pointer;
          &:hover {
            border: solid $black 4px;
          }
        }
      }
      .div-hover {
        background-color: $second-color;
        transition: 0.1s;
      }
      .nav {
        border: none;
        grid-area: nav;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .index {
          border: solid 3.5px $black;
          background-color: $primary-color;
        }
        button {
          width: 9.5em;
          padding: 0.65em 0.1em;
          border: solid 2px $black;
          border-radius: 1em;
          font-size: 0.8em;
          font-weight: bolder;
          text-align: center;
          letter-spacing: 0.05em;
          transition: 0.35s;
          &:not(:first-child):hover {
            background-color: $second-color;
            transition: 0.1s;
          }
        }
      }
      .catquiz {
        grid-area: catquiz;
        background: url(./header/images/bgline.png);
        .div-content {
          width: 100%;
          height: 100%;
          background: url(./header/images/bg-catquiz.png) no-repeat;
          background-size: contain;
          background-position: center;
          transition: scale 0.3s;
          &:hover {
            scale: 1.1;
            animation: infinite item-floating linear 6s;
          }
        }
        .btn-hover-effect {
          scale: 1.1;
          animation: infinite item-floating linear 6s;
        }
      }
      .uiux {
        grid-area: uiux;
        position: relative;
        background: url(./header/images/bgline.png);
        .rotate {
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 1em 14em 2em 8em;
            background: url(./header/images/bg-uiux.png) no-repeat;
            background-size: contain;
            background-position: center;
            transform-style: preserve-3d;
            transition: transform 0.5s ease-out;
            transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
          }
        }
      }
      .btn-hover-effect-uiux {
        animation: active-effect infinite 2.5s ease-in-out;
      }
      .about {
        grid-area: about;
        padding: 0 18px 18px 0;
        background-color: $second-color;
        display: flex;
        flex-direction: column;
        place-content: flex-end;
        &:hover .text {
          transition: 0.3s;
          will-change: transform;
          transform: perspective(600px) rotateY(-30deg)
            translate(-1.5rem, -1rem);
          filter: drop-shadow(1px 1px rgb(96, 103, 135));
        }
        .text {
          text-align: right;
          transition: 0.7s;
          font-size: 20px;
          h1 {
            position: relative;
            font-family: "Roboto", sans-serif;
            font-size: 2.2em;
            line-height: 1.1em;
            letter-spacing: 0.08em;
            color: $second-color;
            -webkit-text-stroke: 1.2px $black;
            &:nth-child(2) {
              margin-bottom: 0.1em;
            }
          }
          h3 {
            font-size: 1em;
            line-height: 1.4em;
            letter-spacing: 0.05em;
            font-weight: normal;
          }
        }
        .btn-hover-effect {
          transition: 0.3s;
          transform: perspective(600px) rotateY(-30deg)
            translate(-1.5rem, -1rem);
          filter: drop-shadow(1px 1px rgb(96, 103, 135));
        }
      }
      .programing {
        grid-area: programing;
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background: $black;
        z-index: 50;
        &:hover .line {
          &-1,
          &-2,
          &-3,
          &-4 {
            animation-play-state: running;
          }
        }
        .line {
          display: inline-block;
          p {
            overflow: hidden;
            white-space: nowrap;
            font-size: 0.8em;
          }
          span {
            margin-right: 0.3em;
            letter-spacing: 0.05em;
            font-family: "Cousine", monospace;
          }
          &-1 {
            animation: line-1 5s linear infinite;
            animation-play-state: paused;
          }
          &-2 {
            animation: line-2 5s linear infinite;
            animation-play-state: paused;
          }
          &-3 {
            animation: line-3 5s linear infinite;
            animation-play-state: paused;
          }
          &-4 {
            animation: line-4 5s linear infinite;
            animation-play-state: paused;
          }
        }
        .active {
          &-1 {
            animation: line-1 5s linear infinite;
          }
          &-2 {
            animation: line-2 5s linear infinite;
          }
          &-3 {
            animation: line-3 5s linear infinite;
          }
          &-4 {
            animation: line-4 5s linear infinite;
          }
        }
      }
      .riveCat {
        grid-area: riveCat;
        background: url(./shared/images/bg-noise.png);
        z-index: 1;
        & > div {
          filter: drop-shadow(3px 3px 6px rgb(174, 174, 174));
        }
      }
      .blank {
        grid-area: blank;
        position: relative;
        background-color: $second-color;
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: url(./header/images/cat-crystal.png) no-repeat;
          background-size: 85%;
          background-position: center;
          opacity: 0;
          transition: 0.6s;
        }
        &::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 300%;
          background-color: #fff;
          opacity: 0.3;
          transform: rotate(-45deg);
          left: -80%;
          top: -100%;
          transition: left 0.3s;
        }
        &:hover {
          &::before {
            transition: 0.2s;
            opacity: 1;
          }
          &::after {
            content: "";
            left: 150%;
          }
        }
      }
      .emoji {
        grid-area: emoji;
        position: relative;
        background-color: $primary-color;
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: url(./header/images/cat-crystal.png);
          background-repeat: no-repeat;
          background-size: 38%;
          background-position: center;
          opacity: 0.6;
          animation: emoji-change infinite 2s steps(1);
        }
        &:hover::before {
          animation-play-state: paused;
          opacity: 1;
        }
      }
    }
  }

  @media only screen and (min-width: 1920px) {
    .container {
      width: 60vw;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .device-alert {
    width: 100vw;
    background: url(./shared/images/device-alert.png) no-repeat;
    background-size: 60%;
    background-position: center;
  }
}
