@import "./components/catquiz";
@import "./components/uiux";
@import "./components/programing";
@import "./components/about";
section {
  display: grid;
  grid-template-columns: 3fr 9fr 2fr;
  grid-template-areas: "nav section guide";
  .nav-box {
    grid-area: nav;
    margin: auto;
    top: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    place-content: space-around;
    font-size: 0.7rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    height: 35vh;
    li {
      margin-left: -5rem;
      transition: transform 0.5s;
      button {
        color: $gray;
        transition: transform 0.5s;
        &::before {
          content: "";
          display: inline-block;
          width: 5rem;
          height: 100%;
          border-bottom: solid 1px $gray;
        }
        &:hover {
          transition: transform 0.5s;
          transform: translateX(1.51rem);
          color: $black;
        }
      }
      .light {
        margin: 1rem 0;
        font-size: 1rem;
        transition: transform 1s;
        transform: translateX(1.51rem);
        color: $black;
        will-change: transform margin;
        &::before {
          content: "";
          display: inline-block;
          width: 8rem;
          height: 100%;
          border-bottom: solid 1px $gray;
        }
      }
    }
  }
  .content {
    grid-area: section;
    & > div {
      aspect-ratio: 6 /5;
    }
  }
  .guide {
    &-box {
      grid-area: guide;
      margin: auto;
      bottom: 2rem;
      right: 8rem;
      position: fixed;
      display: flex;
      flex-direction: column;
      place-content: space-around;
    }
    &-up,
    &-down {
      position: relative;
      background: url(./section/images/guide-arrow.png) no-repeat;
      width: 40px;
      height: 110px;
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 40px;
        border-radius: 8px;
        animation: active-effect infinite 3.5s ease-in-out;
      }
    }
    &-up {
      &::after {
        top: 0;
      }
    }
    &-down {
      &::after {
        bottom: 0;
      }
    }
  }
}
