header {
  @keyframes floating {
    0% {
      transform: translate(0, 0);
      box-shadow: 8px 8px 14px 0px rgba(198, 198, 198, 1);
    }
    25% {
      transform: translate(5px, 0);
    }
    50% {
      transform: translate(5px, 10px);
      box-shadow: 10px 10px 14px 0px rgba(198, 198, 198, 1);
    }
    75% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
      box-shadow: 8px 8px 14px 0px rgba(198, 198, 198, 1);
    }
  }
  @keyframes item-floating {
    // animation: infinite item-floating linear 10s;
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, 0);
    }
    50% {
      transform: translate(5px, 10px);
    }
    75% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes emoji-change {
    0% {
      background-image: url(./header/images/cat-1-smile.png);
    }
    10% {
      background-image: url(./header/images/cat-2-laugh.png);
    }
    15% {
      background-image: url(./header/images/cat-3-crylaugh.png);
    }
    20% {
      background-image: url(./header/images/cat-4-cold.png);
    }
    25% {
      background-image: url(./header/images/cat-5-hungry.png);
    }
    30% {
      background-image: url(./header/images/cat-6-kiss.png);
    }
    35% {
      background-image: url(./header/images/cat-7-flower.png);
    }
    40% {
      background-image: url(./header/images/cat-8-crown.png);
    }
    45% {
      background-image: url(./header/images/cat-9-eating.png);
    }
    50% {
      background-image: url(./header/images/cat-10-bomb.png);
    }
    55% {
      background-image: url(./header/images/cat-11-love.png);
    }
    60% {
      background-image: url(./header/images/cat-12-party.png);
    }
    65% {
      background-image: url(./header/images/cat-13-shock.png);
    }
    70% {
      background-image: url(./header/images/cat-14-melt.png);
    }
    75% {
      background-image: url(./header/images/cat-15-hide.png);
    }
    80% {
      background-image: url(./header/images/cat-16.png);
    }
    85% {
      background-image: url(./header/images/cat-17.png);
    }
    90% {
      background-image: url(./header/images/cat-18.png);
    }
    95% {
      background-image: url(./header/images/cat-19.png);
    }
    100% {
      background-image: url(./header/images/cat-20-thinking.png);
    }
  }

  @keyframes active-effect {
    0% {
      // box-shadow: 0 0 0px 0px rgba(55, 130, 184, 0.6);
      box-shadow: 0 0 0px 0px rgba(34, 34, 34, 0.6);
    }
    30% {
      box-shadow: 0 0 30px 15px transparent;
    }
    100% {
      box-shadow: 0 0 0px 0px transparent;
    }
  }

  @keyframes line-1 {
    0% {
      width: 100%;
    }
    26% {
      width: 100%;
    }
    42% {
      width: 7%;
    }
    45% {
      width: 7%;
    }
    61% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes line-2 {
    0% {
      width: 100%;
    }
    16% {
      width: 100%;
    }
    32% {
      width: 0;
    }
    55% {
      width: 0;
    }
    71% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes line-3 {
    0% {
      width: 100%;
    }
    16% {
      width: 0;
    }
    72% {
      width: 0;
    }
    88% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes line-4 {
    0% {
      width: 100%;
    }
    5% {
      width: 0;
    }
    85% {
      width: 0;
    }
    90% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }
}
section {
  @keyframes guide {
    0% {
      left: 82%;
      top: 90%;
    }
    30% {
      left: 70%;
      top: 68%;
    }
    40% {
      left: 70%;
      top: 68%;
      transform: rotate(15deg);
    }
    100% {
      left: 82%;
      top: 90%;
    }
  }
  @keyframes guide-btn {
    0% {
      filter: drop-shadow(3px 3px 6px transparent);
    }
    30% {
      filter: drop-shadow(3px 3px 6px transparent);
    }
    40% {
      filter: drop-shadow(3px 3px 6px rgb(174, 174, 174));
    }
    100% {
      filter: drop-shadow(3px 3px 6px transparent);
    }
  }
}

@keyframes circle-bg {
  0% {
    background: url(./shared/images/bg-noise.png);
  }
  40% {
    background: url(./shared/images/bg-noise.png);
  }
  41% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes circle-pink {
  0% {
    clip-path: circle(10px at 5px 5px);
    background: $primary-color;
  }
  40% {
    clip-path: circle(3460px at 40px 40px);
    background: $primary-color;
  }
  99% {
    clip-path: circle(10px at 5px 5px);
    background: $primary-color;
  }
  100% {
    clip-path: circle(10px at 5px 5px);
    background: transparent;
  }
}
@keyframes circle-blue {
  0% {
    clip-path: circle(10px at 5px 5px);
    background: $second-color;
  }
  40% {
    clip-path: circle(3460px at 40px 40px);
    background: $second-color;
  }
  99% {
    clip-path: circle(10px at 5px 5px);
    background: $second-color;
  }
  100% {
    clip-path: circle(10px at 5px 5px);
    background: transparent;
  }
}
