// 色彩規範=====================================
// 主色調
$bg-color: #fbf2e9;
$primary-color: #ffa4cd;
$second-color: #afddd9;
$highline-color: #3782b8;
$black: #333;
$gray: #999;
// #b03dae
//#4b80f3
