@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 15px;
  box-shadow: inset 0 0 5px grey;
}
::-webkit-scrollbar-thumb {
  background: #afddd9;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffa4cd;
}

* {
  margin: 0;
  font-family: FakePearl-Regular, "Microsoft JhengHei", "微軟正黑體", "PingFang", "LiHei Pro", "黑體-繁", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

picture,
video,
canvas,
svg,
img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

a:link:active,
a:visited:active {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}

header {
  height: 100vh;
  display: flex;
  place-content: center;
}
header .container {
  display: none;
}
@media only screen and (min-width: 1025px) {
  header .container {
    width: 70vw;
    aspect-ratio: 3/2;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "nav nav nav nav about about" "uiux uiux uiux uiux about about" "uiux uiux uiux uiux about about" "catquiz catquiz riveCat riveCat riveCat blank" "catquiz catquiz riveCat riveCat riveCat blank" "catquiz catquiz riveCat riveCat riveCat emoji" "catquiz catquiz programing programing programing programing" "catquiz catquiz programing programing programing programing";
    box-shadow: 8px 8px 14px 0px rgb(198, 198, 198);
    margin: auto;
    padding: 0.6rem;
    border: solid #222 5px;
    border-radius: 25px;
    background-color: #fbf2e9;
    will-change: transform;
    animation: infinite floating linear 15s;
  }
}
@media only screen and (min-width: 1025px) and (min-width: 1920px) {
  header .container {
    width: 60vw;
  }
}
@media only screen and (min-width: 1025px) {
  header .container > div {
    margin: 0.6rem;
    border: solid #333 3.5px;
    border-radius: 18px;
  }
  header .container > div:not(.nav, .riveCat, .circle) {
    cursor: pointer;
  }
  header .container > div:not(.nav, .riveCat, .circle):hover {
    border: solid #333 4px;
  }
  header .container .div-hover {
    background-color: #afddd9;
    transition: 0.1s;
  }
  header .container .nav {
    border: none;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .nav .index {
    border: solid 3.5px #333;
    background-color: #ffa4cd;
  }
  header .container .nav button {
    width: 9.5em;
    padding: 0.65em 0.1em;
    border: solid 2px #333;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.05em;
    transition: 0.35s;
  }
  header .container .nav button:not(:first-child):hover {
    background-color: #afddd9;
    transition: 0.1s;
  }
  header .container .catquiz {
    grid-area: catquiz;
    background: url(./header/images/bgline.png);
  }
  header .container .catquiz .div-content {
    width: 100%;
    height: 100%;
    background: url(./header/images/bg-catquiz.png) no-repeat;
    background-size: contain;
    background-position: center;
    transition: scale 0.3s;
  }
  header .container .catquiz .div-content:hover {
    scale: 1.1;
    animation: infinite item-floating linear 6s;
  }
  header .container .catquiz .btn-hover-effect {
    scale: 1.1;
    animation: infinite item-floating linear 6s;
  }
  header .container .uiux {
    grid-area: uiux;
    position: relative;
    background: url(./header/images/bgline.png);
  }
  header .container .uiux .rotate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 1em 14em 2em 8em;
    background: url(./header/images/bg-uiux.png) no-repeat;
    background-size: contain;
    background-position: center;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out;
    transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
  }
  header .container .btn-hover-effect-uiux {
    animation: active-effect infinite 2.5s ease-in-out;
  }
  header .container .about {
    grid-area: about;
    padding: 0 18px 18px 0;
    background-color: #afddd9;
    display: flex;
    flex-direction: column;
    place-content: flex-end;
  }
  header .container .about:hover .text {
    transition: 0.3s;
    will-change: transform;
    transform: perspective(600px) rotateY(-30deg) translate(-1.5rem, -1rem);
    filter: drop-shadow(1px 1px rgb(96, 103, 135));
  }
  header .container .about .text {
    text-align: right;
    transition: 0.7s;
    font-size: 20px;
  }
  header .container .about .text h1 {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 2.2em;
    line-height: 1.1em;
    letter-spacing: 0.08em;
    color: #afddd9;
    -webkit-text-stroke: 1.2px #333;
  }
  header .container .about .text h1:nth-child(2) {
    margin-bottom: 0.1em;
  }
  header .container .about .text h3 {
    font-size: 1em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    font-weight: normal;
  }
  header .container .about .btn-hover-effect {
    transition: 0.3s;
    transform: perspective(600px) rotateY(-30deg) translate(-1.5rem, -1rem);
    filter: drop-shadow(1px 1px rgb(96, 103, 135));
  }
  header .container .programing {
    grid-area: programing;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #333;
    z-index: 50;
  }
  header .container .programing:hover .line-1, header .container .programing:hover .line-2, header .container .programing:hover .line-3, header .container .programing:hover .line-4 {
    animation-play-state: running;
  }
  header .container .programing .line {
    display: inline-block;
  }
  header .container .programing .line p {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8em;
  }
  header .container .programing .line span {
    margin-right: 0.3em;
    letter-spacing: 0.05em;
    font-family: "Cousine", monospace;
  }
  header .container .programing .line-1 {
    animation: line-1 5s linear infinite;
    animation-play-state: paused;
  }
  header .container .programing .line-2 {
    animation: line-2 5s linear infinite;
    animation-play-state: paused;
  }
  header .container .programing .line-3 {
    animation: line-3 5s linear infinite;
    animation-play-state: paused;
  }
  header .container .programing .line-4 {
    animation: line-4 5s linear infinite;
    animation-play-state: paused;
  }
  header .container .programing .active-1 {
    animation: line-1 5s linear infinite;
  }
  header .container .programing .active-2 {
    animation: line-2 5s linear infinite;
  }
  header .container .programing .active-3 {
    animation: line-3 5s linear infinite;
  }
  header .container .programing .active-4 {
    animation: line-4 5s linear infinite;
  }
  header .container .riveCat {
    grid-area: riveCat;
    background: url(./shared/images/bg-noise.png);
    z-index: 1;
  }
  header .container .riveCat > div {
    filter: drop-shadow(3px 3px 6px rgb(174, 174, 174));
  }
  header .container .blank {
    grid-area: blank;
    position: relative;
    background-color: #afddd9;
    overflow: hidden;
  }
  header .container .blank::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(./header/images/cat-crystal.png) no-repeat;
    background-size: 85%;
    background-position: center;
    opacity: 0;
    transition: 0.6s;
  }
  header .container .blank::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 300%;
    background-color: #fff;
    opacity: 0.3;
    transform: rotate(-45deg);
    left: -80%;
    top: -100%;
    transition: left 0.3s;
  }
  header .container .blank:hover::before {
    transition: 0.2s;
    opacity: 1;
  }
  header .container .blank:hover::after {
    content: "";
    left: 150%;
  }
  header .container .emoji {
    grid-area: emoji;
    position: relative;
    background-color: #ffa4cd;
  }
  header .container .emoji::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./header/images/cat-crystal.png);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: center;
    opacity: 0.6;
    animation: emoji-change infinite 2s steps(1);
  }
  header .container .emoji:hover::before {
    animation-play-state: paused;
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .device-alert {
    width: 100vw;
    background: url(./shared/images/device-alert.png) no-repeat;
    background-size: 60%;
    background-position: center;
  }
}
.section-catquiz {
  height: 100vh;
  background: url(./section/images/catquiz.png) no-repeat;
  background-size: 90%;
  background-position: center;
  display: flex;
  place-content: flex-end;
  align-items: flex-end;
  padding: 10vh 20vh 25vh 20vh;
}
.section-catquiz .game-link {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  line-height: 1.8rem;
  text-align: center;
  padding-bottom: 2rem;
}
.section-catquiz .game-link button {
  position: relative;
  margin: 1rem auto;
  width: 224px;
  height: 75px;
  scale: 0.8;
  display: inline-block;
  background-image: url(./section/images/btn_p_index.png), url(./section/images/btn_bg_index.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: guide-btn;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: 0.35s;
}
.section-catquiz .game-link button::after {
  content: "";
  position: absolute;
  width: 141px;
  height: 135px;
  background: url(./section/images/paw.png) no-repeat;
  background-size: contain;
  filter: drop-shadow(3px 3px 6px rgb(174, 174, 174));
  left: 82%;
  top: 90%;
  animation: guide;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition: 0.35s;
}

.section-uiux-p1 {
  background: url(./section/images/uiux-1.png) no-repeat;
}
.section-uiux-p2 {
  background: url(./section/images/uiux-2.png) no-repeat;
}
.section-uiux-p3 {
  background: url(./section/images/uiux-5.png) no-repeat;
}
.section-uiux-p4 {
  padding: 8vh 0;
  position: relative;
  background: url(./section/images/uiux-3.png) no-repeat;
}
.section-uiux-p4::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  aspect-ratio: 12/25;
  width: 26.4%;
  border-radius: 14%;
  background: url(./section/images/mockup-gif.gif) no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.section-uiux-p5 {
  padding: 8vh 0;
  position: relative;
  background: url(./section/images/uiux-4.png) no-repeat;
}
.section-uiux-p5::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  aspect-ratio: 12/25;
  width: 26.3%;
  border-radius: 14%;
  background: url(./section/images/mockup-gif2.gif) no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.section-uiux-p6 {
  background: url(./section/images/uiux-6.png) no-repeat;
}
.section-uiux-p7 {
  padding: 8vh 0;
  position: relative;
  background: url(./section/images/uiux-7.png) no-repeat;
}
.section-uiux-p7::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  aspect-ratio: 12/25;
  width: 26.4%;
  border-radius: 14%;
  background: url(./section/images/mockup-gif3.gif) no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}
.section-uiux-p1, .section-uiux-p2, .section-uiux-p3, .section-uiux-p4, .section-uiux-p5, .section-uiux-p6, .section-uiux-p7 {
  background-size: 90%;
  background-position: center;
  height: 100vh;
}

.section-programing-p1 {
  background: url(./section/images/programing-1.png) no-repeat;
}
.section-programing-p1::before {
  content: "";
  position: absolute;
  top: 20%;
  right: -10%;
  width: 681px;
  height: 265px;
  background: url(./section/images/question-list.gif) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.section-programing-p2 {
  background: url(./section/images/programing-2.png) no-repeat;
}
.section-programing-p2 .gif-box {
  position: relative;
  right: -35%;
  top: 35%;
  width: 650px;
  height: 162px;
  border: solid 6px #999;
  border-radius: 15px;
  scale: 0.7;
}
.section-programing-p2 .gif-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  background: url(./section/images/programing.gif) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}
.section-programing-p3 {
  background: url(./section/images/programing-3.png) no-repeat;
}
.section-programing-p1, .section-programing-p2, .section-programing-p3 {
  position: relative;
  background-size: 90%;
  background-position: center;
  height: 100vh;
}
.section-programing-p1 button, .section-programing-p2 button, .section-programing-p3 button {
  display: inline-block;
  top: 30%;
  left: 50%;
  width: 48px;
  height: 48px;
  position: absolute;
  background: url(./section/images/icon-github.png);
  background-size: contain;
}

.section-about-p1 {
  background: url(./section/images/about-1.png) no-repeat;
  background-position: center;
  background-size: 90%;
  height: 100vh;
}

section {
  display: grid;
  grid-template-columns: 3fr 9fr 2fr;
  grid-template-areas: "nav section guide";
}
section .nav-box {
  grid-area: nav;
  margin: auto;
  top: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  place-content: space-around;
  font-size: 0.7rem;
  font-weight: bolder;
  letter-spacing: 0.05rem;
  height: 35vh;
}
section .nav-box li {
  margin-left: -5rem;
  transition: transform 0.5s;
}
section .nav-box li button {
  color: #999;
  transition: transform 0.5s;
}
section .nav-box li button::before {
  content: "";
  display: inline-block;
  width: 5rem;
  height: 100%;
  border-bottom: solid 1px #999;
}
section .nav-box li button:hover {
  transition: transform 0.5s;
  transform: translateX(1.51rem);
  color: #333;
}
section .nav-box li .light {
  margin: 1rem 0;
  font-size: 1rem;
  transition: transform 1s;
  transform: translateX(1.51rem);
  color: #333;
  will-change: transform margin;
}
section .nav-box li .light::before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 100%;
  border-bottom: solid 1px #999;
}
section .content {
  grid-area: section;
}
section .content > div {
  aspect-ratio: 6/5;
}
section .guide-box {
  grid-area: guide;
  margin: auto;
  bottom: 2rem;
  right: 8rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  place-content: space-around;
}
section .guide-up, section .guide-down {
  position: relative;
  background: url(./section/images/guide-arrow.png) no-repeat;
  width: 40px;
  height: 110px;
}
section .guide-up::after, section .guide-down::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 40px;
  border-radius: 8px;
  animation: active-effect infinite 3.5s ease-in-out;
}
section .guide-up::after {
  top: 0;
}
section .guide-down::after {
  bottom: 0;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
    box-shadow: 8px 8px 14px 0px rgb(198, 198, 198);
  }
  25% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(5px, 10px);
    box-shadow: 10px 10px 14px 0px rgb(198, 198, 198);
  }
  75% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
    box-shadow: 8px 8px 14px 0px rgb(198, 198, 198);
  }
}
@keyframes item-floating {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(5px, 0);
  }
  50% {
    transform: translate(5px, 10px);
  }
  75% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes emoji-change {
  0% {
    background-image: url(./header/images/cat-1-smile.png);
  }
  10% {
    background-image: url(./header/images/cat-2-laugh.png);
  }
  15% {
    background-image: url(./header/images/cat-3-crylaugh.png);
  }
  20% {
    background-image: url(./header/images/cat-4-cold.png);
  }
  25% {
    background-image: url(./header/images/cat-5-hungry.png);
  }
  30% {
    background-image: url(./header/images/cat-6-kiss.png);
  }
  35% {
    background-image: url(./header/images/cat-7-flower.png);
  }
  40% {
    background-image: url(./header/images/cat-8-crown.png);
  }
  45% {
    background-image: url(./header/images/cat-9-eating.png);
  }
  50% {
    background-image: url(./header/images/cat-10-bomb.png);
  }
  55% {
    background-image: url(./header/images/cat-11-love.png);
  }
  60% {
    background-image: url(./header/images/cat-12-party.png);
  }
  65% {
    background-image: url(./header/images/cat-13-shock.png);
  }
  70% {
    background-image: url(./header/images/cat-14-melt.png);
  }
  75% {
    background-image: url(./header/images/cat-15-hide.png);
  }
  80% {
    background-image: url(./header/images/cat-16.png);
  }
  85% {
    background-image: url(./header/images/cat-17.png);
  }
  90% {
    background-image: url(./header/images/cat-18.png);
  }
  95% {
    background-image: url(./header/images/cat-19.png);
  }
  100% {
    background-image: url(./header/images/cat-20-thinking.png);
  }
}
@keyframes active-effect {
  0% {
    box-shadow: 0 0 0px 0px rgba(34, 34, 34, 0.6);
  }
  30% {
    box-shadow: 0 0 30px 15px transparent;
  }
  100% {
    box-shadow: 0 0 0px 0px transparent;
  }
}
@keyframes line-1 {
  0% {
    width: 100%;
  }
  26% {
    width: 100%;
  }
  42% {
    width: 7%;
  }
  45% {
    width: 7%;
  }
  61% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes line-2 {
  0% {
    width: 100%;
  }
  16% {
    width: 100%;
  }
  32% {
    width: 0;
  }
  55% {
    width: 0;
  }
  71% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes line-3 {
  0% {
    width: 100%;
  }
  16% {
    width: 0;
  }
  72% {
    width: 0;
  }
  88% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes line-4 {
  0% {
    width: 100%;
  }
  5% {
    width: 0;
  }
  85% {
    width: 0;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes guide {
  0% {
    left: 82%;
    top: 90%;
  }
  30% {
    left: 70%;
    top: 68%;
  }
  40% {
    left: 70%;
    top: 68%;
    transform: rotate(15deg);
  }
  100% {
    left: 82%;
    top: 90%;
  }
}
@keyframes guide-btn {
  0% {
    filter: drop-shadow(3px 3px 6px transparent);
  }
  30% {
    filter: drop-shadow(3px 3px 6px transparent);
  }
  40% {
    filter: drop-shadow(3px 3px 6px rgb(174, 174, 174));
  }
  100% {
    filter: drop-shadow(3px 3px 6px transparent);
  }
}

@keyframes circle-bg {
  0% {
    background: url(./shared/images/bg-noise.png);
  }
  40% {
    background: url(./shared/images/bg-noise.png);
  }
  41% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}
@keyframes circle-pink {
  0% {
    clip-path: circle(10px at 5px 5px);
    background: #ffa4cd;
  }
  40% {
    clip-path: circle(3460px at 40px 40px);
    background: #ffa4cd;
  }
  99% {
    clip-path: circle(10px at 5px 5px);
    background: #ffa4cd;
  }
  100% {
    clip-path: circle(10px at 5px 5px);
    background: transparent;
  }
}
@keyframes circle-blue {
  0% {
    clip-path: circle(10px at 5px 5px);
    background: #afddd9;
  }
  40% {
    clip-path: circle(3460px at 40px 40px);
    background: #afddd9;
  }
  99% {
    clip-path: circle(10px at 5px 5px);
    background: #afddd9;
  }
  100% {
    clip-path: circle(10px at 5px 5px);
    background: transparent;
  }
}
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}
body {
  background-image: url(./shared/images/bg-noise.png);
}

.circle-pink, .circle-blue {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow-x: hidden;
  pointer-events: none;
  z-index: 50;
  animation: circle-bg 0.9s linear;
}
.circle-pink::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: circle-pink 0.9s linear;
}
.circle-blue::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  animation: circle-blue 0.9s linear;
}/*# sourceMappingURL=index.css.map */