.section-uiux {
  &-p1 {
    background: url(./section/images/uiux-1.png) no-repeat;
  }
  &-p2 {
    background: url(./section/images/uiux-2.png) no-repeat;
  }
  &-p3 {
    background: url(./section/images/uiux-5.png) no-repeat;
  }
  &-p4 {
    padding: 8vh 0;
    position: relative;
    background: url(./section/images/uiux-3.png) no-repeat;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      aspect-ratio: 12 /25;
      width: 26.4%;
      border-radius: 14%;
      background: url(./section/images/mockup-gif.gif) no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;
    }
  }
  &-p5 {
    padding: 8vh 0;
    position: relative;
    background: url(./section/images/uiux-4.png) no-repeat;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      aspect-ratio: 12 /25;
      width: 26.3%;
      border-radius: 14%;
      background: url(./section/images/mockup-gif2.gif) no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;
    }
  }
  &-p6 {
    background: url(./section/images/uiux-6.png) no-repeat;
  }
  &-p7 {
    padding: 8vh 0;
    position: relative;
    background: url(./section/images/uiux-7.png) no-repeat;
    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      aspect-ratio: 12 /25;
      width: 26.4%;
      border-radius: 14%;
      background: url(./section/images/mockup-gif3.gif) no-repeat;
      background-position: center;
      background-size: contain;
      z-index: -1;
    }
  }
  &-p1,
  &-p2,
  &-p3,
  &-p4,
  &-p5,
  &-p6,
  &-p7 {
    background-size: 90%;
    background-position: center;
    height: 100vh;
  }
}
